@tailwind base;
@tailwind components;
@tailwind utilities;

/* Universal styling */
* {
    font-family: "Ubuntu", sans-serif;
    scroll-behavior: smooth;
}

/* Enhanced scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px; /* For horizontal scroll */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    transition: background-color 0.3s ease, border-color 0.3s ease;
}